@media (max-height: 560px) {
  html:has(#hamburger-toggle:checked) {
    .nav {
      transition: 0.45s;
    }
    .logo {
      pointer-events: none;
      cursor: default;
      opacity: 0;
    }
    .nav {
      /* z-index: 90; */
      background: transparent;
      box-shadow: none;
    }
  }
  .mobile-nav-hamburger {
    /* z-index: 99; */
  }
  .mobile-nav-hamburger #hamburger-toggle {
    /* z-index: 101; */
  }
  .mobile-nav-hamburger .mobile-hamburger-dash {
    /* z-index: 100; */
  }
  .mobile-nav-overlay {
    position: absolute !important;
  }
  .mobile-nav-overlay-content-wrapper {
    margin-bottom: -100px;
  }
}
@media (min-width: 650px) {
  .header-content-wrapper {
    width: 60%;
    border-radius: 20px;
  }
  .header-content-wrapper .header-flyer {
    border-radius: 20px;
  }
  .count-down {
    width: 70%;
    margin-top: 170px;
  }
  .nav {
    position: fixed;
    border-radius: 0 0 20px 20px;
    z-index: 99;
    background: white;
    top: 0;
    right: 0;
    margin: 0 auto;
    width: 89%;
    height: 100px;
    display: flex;
    box-shadow: 0px 2px 7px 0px #00000028;
    justify-content: space-between;
    align-items: center;
  }
  .nav .logo {
    margin-left: 20px;
  }
  .nav .mobile-nav-hamburger {
    margin-right: 40px;
  }
  .header {
    background: rgba(0, 0, 0, 1);
  }
  .header-content-wrapper {
    display: none;
  }
}
