:root {
  --red: #9f0401;
  --dark-red: #850301;
  --off-white: whitesmoke;
}
@media (max-width: 365px) {
  @keyframes float {
    0% {
      transform: translateY(15%);
    }

    50% {
      transform: translateY(14%);
    }

    100% {
      transform: translateY(15%);
    }
  }
}
@media (max-height: 370px) {
  .mobile-nav-overlay-content-wrapper .nav-item {
    font-size: large;
  }
}
@media (max-height: 560px) {
  html:has(#hamburger-toggle:checked) {
    .nav {
      transition: 0.45s;
      position: fixed;
    }

    .nav .mobile-nav-hamburger span.mobile-hamburger-dash {
      background: white;
    }
    .nav .logo {
      pointer-events: none;
      cursor: default;
    }
    .nav .logo img {
      opacity: 0;
    }
    .nav .logo-text {
      color: white;
      transform: translateX(-40px);
    }
    .nav {
      /* z-index: 90; */
      background: transparent;
      box-shadow: none;
    }
  }

  .mobile-nav-overlay-content-wrapper {
    margin-bottom: -100px;
  }
}
@media (min-width: 650px) {
  .nav {
    position: absolute;
    z-index: 99;
    background: transparent;
    top: 20px;
    right: 0;
    margin: 0 auto;
    width: 89%;
    height: 100px;
    display: flex;
    box-shadow: none;
    justify-content: space-between;
    align-items: center;
  }

  .nav .logo {
    margin-left: 20px;
  }
  .nav .mobile-nav-hamburger {
    margin-right: 70px;
  }
  .header {
    background: linear-gradient(
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 1)
      ),
      url("../assets/images/paper-bg.jpg") no-repeat;
    background-size: cover;
  }
  .header-bg-blur {
    display: none;
  }
  .desktop-header-content {
    width: 100%;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--red);
    z-index: 35;
  }
  .desktop-header-content .atf-logo {
    height: 100px;
    margin-top: 110px;
    /* position: fixed; */
  }
  .desktop-header-content .theme-text {
    width: 40%;
    margin-top: -100px;
    margin-left: -20px;
    /* position: fixed; */
  }
  .mobile-schedule-iframe {
    display: none;
  }
  .desktop-header-content h1 {
    font-family: "Poppins";
  }
  .desktop-header-content h1:first-child {
    font-size: 70px;
    font-weight: 900;
    line-height: 1.1;
  }
  .desktop-header-content h1:nth-child(2) {
    font-size: 50px;
    font-weight: 900;
    line-height: 1.1;
    width: 90%;
  }
  .desktop-header-content h2 {
    width: 60%;
    font-family: "Formula Condensed";
    font-weight: 400;
    letter-spacing: 2px;
  }

  .count-down {
    background: linear-gradient(white, #85030188);
    box-shadow: none;
    border: none;
    width: 100%;
    margin-top: -30px;
    position: relative;
    border-radius: 0;
    z-index: 40;
  }
  .count-down a {
    transform: scale(1) translateY(-14px);
  }
}
