:root {
  --red: #9f0401;
  --dark-red: #850301;
  --off-white: whitesmoke;
}

body {
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("../assets/images/paper-bg.jpg");
  background-size: cover;
  background-position: left;
  min-height: 100vh;
  margin: 0;
}

.title .song {
  z-index: 20;
}
.title {
  margin-top: 50px;
}
.title h1 {
  color: var(--red);
  font-family: "Formula Condensed", "Helvetica Neue";
  font-size: 50px;
  line-height: 1.1;
  width: 70%;
  margin: 0 auto;
  letter-spacing: 1px;
}
.toc .table-content {
  margin-top: 100px;
  color: var(--red);
  width: 70%;
  font-size: large;
  margin: 0 auto;
  font-family: "Helvetica Neue", Poppins;
  border-bottom: 1px solid var(--red);
  padding: 10px 0;
  display: block;
}
.toc .table-content:hover {
  color: var(--dark-red);
}
.toc .table-content:last-child {
  border: none !important;
}

.song {
  padding-top: 40px;
  max-width: 70%;
  margin: 0 auto;
}
.song-title {
  margin: 0 auto;
  font-weight: 700;
  color: #1f1f1f;
  font-family: "Poppins";
  font-size: 40px;
  line-height: 1.02;
  margin-bottom: 15px;
}
.song-lyrics {
  font-family: "poppins", Poppins;
  font-weight: 600;
  color: #323232;
  text-align: left;
  font-size: large;
}
.song-lyrics .song-lyrics-paragraph {
  display: block;
  margin-bottom: 25px;
}
